.container
  %h2.mb-4= t('.header')

  .row
    .col-md-6
      .card.mb-4
        .card-body
          %h5.card-title= t('.google_title')
        %ul.list-group.list-group-flush
          %li.list-group-item
            %strong= t('.name')
            —
            = current_user.name
          %li.list-group-item
            %strong= t('.first_name')
            —
            = current_user.first_name
          %li.list-group-item
            %strong= t('.last_name')
            —
            = current_user.last_name
          %li.list-group-item
            %strong= t('.email')
            —
            = current_user.email
        .card-footer.text-muted= t('.google_note_md')
    .col-md-6
      .card.mb-4
        .card-body
          %h5.card-title= t('.here_title')
