%div{id: dom_id(bottle)}
  %p
    %strong Name:
    = bottle.name
  %p
    %strong Rule:
    = bottle.rule.name
  %p
    %strong Beer:
    = bottle.beer.name
  %p
    %strong Bottled on:
    = bottle.bottled_on
  %p
    %strong Description:
    = bottle.description
  %p
    %strong Drunk?
    = bottle.drunk
  %p
    %strong Drunk on:
    = bottle.drunk_on
  %p
    %strong Drink window start:
    = bottle.window_start
  %p
    %strong Drink window end:
    = bottle.window_end
  %p
    %small
      Created:
      = beer.created_at
      | Updated:
      = beer.updated_at
