= form_with(model: bottle) do |form|
  .mb-3
    = form.label :name, class: 'form-label'
    = form.text_field :name, class: "form-control #{validate_class(bottle, :name)}"
    = validate_error bottle, :name
  .mb-3
    = form.label :rule_id, class: 'form-label'
    = form.select :rule_id, current_user.rules.collect { |r| [ r.name, r.id ] }, {}, { class: "form-select #{validate_class(bottle, :rule)}" }
    = validate_error bottle, :rule
  .mb-3
    = form.label :beer_id, class: 'form-label'
    = form.select :beer_id, Beer.all.collect { |b| [ b.name, b.id ] }, {}, { class: "form-select #{validate_class(bottle, :beer)}" }
    = validate_error bottle, :beer
  .mb-3
    = form.label :bottled_on, class: 'form-label'
    = form.date_field :bottled_on, class: "form-control #{validate_class(bottle, :bottled_on)}"
    = validate_error bottle, :bottled_on
  .mb-3
    = form.label :description, class: 'form-label'
    = form.text_field :description, class: "form-control #{validate_class(bottle, :description)}"
    = validate_error bottle, :description
  .mb-3
    = form.check_box :drunk, class: "form-check-input #{validate_class(bottle, :drunk)}"
    = form.label :drunk, class: 'form-check-label'
    = validate_error bottle, :drunk
  .mb-3
    = form.label :drunk_on, class: 'form-label'
    = form.date_field :drunk_on, class: "form-control #{validate_class(bottle, :drunk_on)}"
    = validate_error bottle, :drunk_on
  = form.submit class: 'btn btn-primary'
