.container-fluid
  .px-4.pt-5.my-5.text-center
    %h1.display-4.fw-bold= t(".header")
    .col-lg-6.mx-auto
      %p.lead.mb-4= t(".intro_md")
      .d-grid.gap-2.d-sm-flex.justify-content-sm-center.mb-5
        = link_to sign_in_path, method: :post, class: 'btn btn-primary btn-lg px-4 me-sm-3' do
          = svg_tag 'google'
          = t('.sign_in_button')
        = link_to about_path, class: 'btn btn-outline-secondary btn-lg px-4' do
          = svg_tag 'journal-text'
          = t('.read_more_button')
    .overflow-hidden{style: "max-height: 30vh;"}
      .container.px-5
        %img.img-fluid.border.rounded-3.shadow-lg.mb-4{
          src: "https://via.placeholder.com/1024",
          alt: t(".screenshot_alt"),
          width: "700",
          height: "500",
          loading: "lazy"
        }/
