= form_with(model: brewery) do |form|
  .mb-3
    = form.label :name, class: 'form-label'
    = form.text_field :name, class: "form-control #{validate_class(brewery, :name)}"
    = validate_error brewery, :name
  = form.submit class: 'btn btn-primary'
