%div{id: dom_id(beer)}
  %p
    %strong Name:
    = beer.name
  %p
    %strong Brewery:
    = beer.brewery.name
  %p
    %strong Disambiguation:
    = beer.disambiguation
  %p
    %strong Description:
    = beer.description
  %p
    %small
      Created:
      = beer.created_at
      | Updated:
      = beer.updated_at
