= form_with(model: beer) do |form|
  .mb-3
    = form.label :name, class: 'form-label'
    = form.text_field :name, class: "form-control #{validate_class(beer, :name)}"
    = validate_error beer, :name
  .mb-3
    = form.label :brewery_id, class: 'form-label'
    = form.select :brewery_id, Brewery.all.collect { |b| [ b.name, b.id ] }, {}, { class: "form-select #{validate_class(beer, :brewery)}" }
    = validate_error beer, :brewery
  .mb-3
    = form.label :disambiguation, class: 'form-label'
    = form.text_field :disambiguation, class: "form-control #{validate_class(beer, :disambiguation)}"
    = validate_error beer, :disambiguation
  .mb-3
    = form.label :description, class: 'form-label'
    = form.text_field :description, class: "form-control #{validate_class(beer, :description)}"
    = validate_error beer, :description
  = form.submit class: 'btn btn-primary'
