.container
  - flash.each do |type, msg|
    %div{ class: 'alert alert-dismissible fade show ' + flash_map[type], role: 'alert' }
      = msg
      %button.btn-close{ type: 'button', data: { bs_dismiss: 'alert' }, aria: { label: t('common.close_label') } }
