%nav.navbar.navbar-expand-lg.navbar-light.bg-light.mb-3.border-bottom
  .container-fluid
    = link_to root_path, class: "navbar-brand" do
      %img{src: "/favicon-32x32.png", width: "32", height: "32"}/
      = t('common.title')

    %button.navbar-toggler{
      type: "button",
      data: { bs_toggle: "collapse", bs_target: "#navbar-nav" },
      aria: {
        controls: "navbar-nav",
        expanded: "false",
        label: "Toggle navigation"
      }
    }
      %span.navbar-toggler-icon/

    .collapse.navbar-collapse#navbar-nav
      %ul.navbar-nav.me-auto
        - if user_signed_in?
          %li.nav-item
            = link_to t('nav.dashboard'), drink_bottles_path, class: 'nav-link'
          %li.nav-item
            = link_to t('nav.cellar'), bottles_path, class: 'nav-link'
        %li.nav-item.dropdown
          = link_to "Beer Library", '#', id: 'navbar-library', class: 'nav-link dropdown-toggle', role: 'button', data: { bs_toggle: 'dropdown' }, aria: { expanded: 'false' }
          %ul.dropdown-menu{aria: { labelledby: "navbar-library" }}
            %li= link_to "Breweries", breweries_path, class: "dropdown-item"
            %li= link_to "Beers", beers_path, class: "dropdown-item"

      - if user_signed_in?
        %ul.navbar-nav
          %li.nav-item.dropdown
            %a.nav-link.dropdown-toggle#navbar-user{
              href: "#",
              data: { bs_toggle: "dropdown" },
              aria: { expanded: "false" }
            }
              %img.rounded-circle{
                src: current_user.image,
                width: "32",
                height: "32"
              }/

            %ul.dropdown-menu.dropdown-menu-end{
              aria: { labelledby: "navbar-user" }
            }
              %li
                = link_to t("nav.settings"), user_settings_path, class: "dropdown-item"
              %li
                = link_to t("nav.delete_account"), user_delete_path, class: "dropdown-item", data: { bs_toggle: "modal", bs_target: "#deleteModal" }
              %li
                %hr.dropdown-divider/
              %li
                = link_to t("nav.sign_out"), sign_out_path, method: :post, class: "dropdown-item"
      - else
        = link_to sign_in_path, method: :post, class: 'btn btn-outline-success' do
          = svg_tag 'google'
          = t('nav.sign_in')

- if user_signed_in?
  .modal.fade#deleteModal{
    tabindex: "-1",
    aria: { labelledby: "deleteModalLabel" }
  }
    .modal-dialog
      .modal-content
        .modal-header
          %h5.modal-title#deleteModalLabel= t("nav.delete_title")
          %button.btn-close{
            type: "button",
            data: { bs_dismiss: "modal" },
            aria: { label: t("common.close_label") }
          }

        .modal-body
          %p= t("nav.delete_text_md")
        .modal-footer
          %button.btn.btn-secondary{data: { bs_dismiss: "modal" }}
            = t("common.cancel_label")
          = form_with url: user_delete_path, method: :post do |f|
            = f.submit t('nav.delete_button'), class: 'btn btn-danger'
