!!! 5
%html
  %head
    %title= t("common.title")

    %meta{charset: "utf-8"}/
    %meta{name: "viewport", content: "width=device-width,initial-scale=1"}/
    = csrf_meta_tag
    = csp_meta_tag

    %link{
      rel: "stylesheet",
      href: "https://cdn.jsdelivr.net/npm/bootswatch@5.3.2/dist/journal/bootstrap.min.css",
      integrity: "sha256-0aRkQgTM21aUzcuBdnbwxGcGGWF1YxVc1QNkPzWL1+E=",
      crossorigin: "anonymous"
    }/

    = stylesheet_link_tag 'application'

    = javascript_importmap_tags

    = render 'layouts/favicons'

  %body
    = render 'layouts/svg'
    = render 'layouts/nav'
    = render 'layouts/alerts'

    = yield

    = render 'layouts/footer'
