<!DOCTYPE html>
<html>
  <head>
    <title>Lambic Cellar: Error</title>
    <meta charset="utf-8" />
    <meta content="width=device-width,initial-scale=1" name="viewport" />

    <link
      crossorigin="anonymous"
      href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/journal/bootstrap.min.css"
      integrity="sha256-Ont0XKIPs4G8F5vswFwCkN5t7KOSd8L8ifYhadEfEvk"
      rel="stylesheet"
    />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#ffc40d" />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body>
    <div class="container mb-5" style="text-align: center">
      <img
        class="my-4"
        src="/android-chrome-512x512.png"
        width="512"
        height="512"
        alt="Lambic Cellar logo"
      />
      <h1 class="display-5 fw-bold"><%= header %></h1>
      <div class="col-lg-6 mx-auto"><%= explanation %></div>
    </div>
  </body>
</html>
